#field:hover {
  cursor: crosshair;
}

#palette {
  display: inline-block;
}

.color {
  display: inline-block;
  margin: 5px;
  height: 20px;
  width: 20px;
  border: 2px solid transparent;
}

.color:hover {
  cursor: pointer;
  border: 2px solid rgb(103, 92, 202);
}

#color-1 {
  background-color: rgb(23, 104, 23);
}

#color-2 {
  background-color: rgb(104, 23, 23);
}

#color-3 {
  background-color: rgb(226, 213, 23);
}

#color-4 {
  background-color: rgb(23, 45, 104);
}

#color-5 {
  background-color: rgb(104, 23, 80);
}

#brushes {
  display: inline-block;
  margin-left: 13px;
}

.brushes {
  display: inline-block;
  background-color: #000;
  margin: 5px;
  border-radius: 15px;
  border: 2px solid transparent;
}

.brushes:hover {
  cursor: pointer;
  border: 2px solid rgb(103, 92, 202);
}

#brush-thin {
  height: 2px;
  width: 2px;
}

#brush-normal {
  height: 5px;
  width: 5px;
}

#brush-bold {
  height: 10px;
  width: 10px;
}

.active {
  border: 2px solid rgb(103, 92, 202);
}

button {
  padding: 5px;
  border-radius: 10px;
  border: 0px;
  outline: 0px;
  background-color: rgb(53, 173, 143);
  color: #fff;
  border: transparent 1px solid;
}

button:hover {
  cursor: pointer;
}

button:active {
  border: #000 1px solid;
  transform: rotate(5deg);
}
